body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:583px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:211px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:211px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:583px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:954px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(118, 80, 198, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:954px;
  width:420px;
  height:280px;
  display:flex;
  font-family:"Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins SemiBold", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#8643DC;
  line-height:80px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:21px;
  width:135px;
  height:80px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#8643DC;
  line-height:80px;
}
#u246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:21px;
  width:135px;
  height:80px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:21px;
  width:135px;
  height:80px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:21px;
  width:135px;
  height:80px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7E7F86;
  line-height:80px;
}
#u249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(134, 67, 220, 1);
  border:none;
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:36px;
  width:135px;
  height:50px;
  display:flex;
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/portfolio_index/u251_div.png');
  background-repeat:no-repeat;
  background-size:420px 280px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:211px;
  width:420px;
  height:280px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:211px;
  width:420px;
  height:280px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:583px;
  width:420px;
  height:280px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/portfolio_index/u255_div.png');
  background-repeat:no-repeat;
  background-size:420px 311px;
  background-position: 0.0px -15.5px;
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:954px;
  width:420px;
  height:280px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:954px;
  width:420px;
  height:280px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:280px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:583px;
  width:420px;
  height:280px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:60px;
  width:40px;
  height:41px;
  display:flex;
}
#u259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:57px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:21px;
  width:42px;
  height:57px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Inter Bold", "Inter", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F3EEDB;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1322px;
  width:1200px;
  height:120px;
  display:flex;
  font-family:"Inter Bold", "Inter", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#F3EEDB;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
